<h1>Lighting</h1>

<div class="container listing no-padding">
  <li>
    <a class="listing-row-image img-rounded"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCpWlPNsBYXxxq07RKp-X7ZwTlQT0URGA_pq2lRI-XrP2dGYGo"></a>
    <div class="listing-row-item">
      <%= link_to "Oreo cheesecake", about_path, :class => "listing-row-title" %>
      <div class="listing-row-description">1920s Candelliar</div>
      <div class="listing-row-seller">Steve Christie</div>
    </div>    
    <div class="listing-row-price">$39</div>
    <div class="listing-row-seller-location">Watertown, CT</div>   
  </li>


</div>