.item-images {
	ul {
		list-style-type: none;
		display: inline;
	}
}

#thumbnails {
	margin: 10px 0 0 0;
	
	ul {
		list-style-type: none;
		display: inline;
		margin: 0;
	}
	
	li {
	display: inline;
	}
}

.image_box {
	position:relative;
}

.favorite_image {
display:none;
}

.hide_link {
	position: absolute;
	top: 12px;
	left:10px;
	background: white;
	border-radius: 12px;
			
}

.hide_link_hover {
	background: grey;
}

a.favorite_link {
	color: red;
	display: none;
	text-decoration: none;
}

.favorite i {
color: red;
}

.thumb img {
	width: 62px;
	height: 62px;
	background-size: cover;
}

div #item_header {
	padding-bottom: 20px;
	
	a {
	margin-top: 10px;
	}
}

#item_header h1 {
		display: inline;
}

.item-header {
	padding-left: 10px;
	font-size: 18px;
}

.item-images ul {
margin: 0px;
}

