.item-images {
	ul {
		list-style-type: none;
		display: inline;
	}
}

#thumbnails {
	ul {
		list-style-type: none;
		display: inline;
		margin: 0;
	}
	
	li {
	display: inline;
	}
}

.image_box {
	position:relative;
}

.favorite_image {
display:none;
}

.hide_link {
	position: absolute;
	top: 12px;
	left:10px;
	background: white;
	border-radius: 12px;
			
}

.hide_link_hover {
	background: grey;
}

a.favorite_link {
	color: red;
	display: none;
	text-decoration: none;
}

.favorite i {
color: red;
}