<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
  		<a class= "brand" href="/">HomePlace</a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
			<div class="nav-collapse collapse">
			  <ul class="nav">
    				<li><%= link_to "About", about_path %></li>
  					<li><%= link_to "Contact Us", contact_us_path %></li>
  			</ul>	
  			<ul class="nav pull-right">
  				  <li><%= link_to "Register" %></li>
  				  <li><%= link_to "Sign In" %></li>		  
  			</ul>
			</div>
		</div>
	</div>
</header>